[Unit]
Description=Synchro du planning à la minute 5 de chaque heure

[Timer]
OnCalendar=*-*-* *:05:00
RandomizedDelaySec=60
Persistent=true

[Install]
WantedBy=timers.target
